@media only screen and (min-width: 992px) {
  #target {
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  #target {
    padding-left: 20% !important;
    padding-right: 3rem;
  }
}
